body {
    background: #e7f4f5;
}

.logo {
    font-size: 32px;
    text-align: center;
    color:#457b9d;
}

#search {
    text-align: center;
}
#searchInput {
    border: black solid;
    width: 50%;
}

#searchOpts {
    margin: 0 auto;
}

.btn {
    background: #63adf2;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.btnSearch {
    background: #a7cced;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid black;
    margin: 10px 10px 10px 0;
}
.favBtn{
    text-align: center;
    background:  #63adf2;
    border-radius: 5px;
}
.gify > img{
    border: black solid 3px;
    margin: 10px 10px 0 0;
    float: left;
    background: blue
}

#headingOne, #headingTwo {
    color: white;
    background: #63adf2;
    border: black solid 2px;
}
.radio {
    margin-right: 10px;
}
#sel1 {
    width: 50px;

}
.mb-0{
    height: 20px;
}
#pull{
    float: left;
    width: 50px;
    height: 25px;
}
#accordion{
    float:right;
    position: relative;
}

label {
    margin-left: 10px;
}

input[type="radio"] {
    margin-right: 3px;
  }

@media only screen and (max-width: 500px) {
    #gif > img {
        margin: 0 auto;
    }
}