body {
    background: #e7f4f5;
}

.logo {
    font-size: 32px;
    text-align: center;
    color:#457b9d;
}

#search {
    text-align: center;
}
#searchInput {
    border: black solid;
    width: 80%;
}

.btn {
    background: #63adf2;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.btnSearch {
    background: #a7cced;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid black;
    margin: 10px 10px 10px 0;
}
.favBtn{
    text-align: center;
    background:  #63adf2;
    border-radius: 5px;
}
.gify {
    border: #82a0bc solid 1px;
    /* margin-right: 10px; */
    margin: 10px 10px 0 0;
}

#headingOne {
    color: white;
    background: #63adf2;
    border: black solid 2px;
}

.mb-0{
    height: 20px;
}

#accordion{
    float:right;
    position: relative;
}


@media only screen and (max-width: 500px) {
    #gif > img {
        margin: 0 auto;
    }
}